@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.img-cont:nth-child(1) {
    animation-delay: 100ms;
}

.img-cont:nth-child(2) {
    transition-delay: 400ms;
}

.img-cont:nth-child(3) {
    transition-delay: 600ms;
}

.img-cont:nth-child(4) {
    transition-delay: 800ms;
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes appear {
    from {
        opacity: 0;
        display: none;

        transform: translateY(30vh);
        transition: all 1s;
    }

    to {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        filter: blur(0);
    }
}

.resendOtp {
    display: none;
}

.shadow-card1 {
    display: none;
}

.log-out-popup-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.log-out-popup {
    width: 120px;
    height: 120px;
    padding: 20px;
    background-color: white;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 1000;
    top: 50%;
    left: 50%;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 0px 100px black;

}

.log-out-popup-open {
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.spinner-border3 {
    width: 60px;
    height: 60px;
    border: 0.45em solid #f3f3f3;
    border-top: 0.45em solid #3498db;
    border-radius: 50%;
    margin-bottom: 5px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.user-hover:hover {
    background-color: #f7e4f2;
    box-shadow: 0 2px 3px rgba(5, 50, 120, 0.6);
    cursor: pointer;
}

.user-pop-up {
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.4s ease;
    top: 21%;
    z-index: 1500;
    left: 100%;
    position: fixed;
    visibility: hidden;

}

.open-user-pop-up {
    transform: translate(-50%, -50%) scale(0.7);
    visibility: visible;
    left: 95%;
}

.hiddensign {
    display: none;
}



.image-container {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}

.gog {
    text-shadow: 0 0 5px white;
}

.but6 {
    border-radius: 5px;
    background-color: #d9d9d9;
    color: white;
    font-family: "Roboto";
    border-style: none;
    cursor: "not-allowed";
}

.b7 {

    transition: background-color 1s;
    background-color: #c9c9c3;
}

.b7:hover {
    background-color: #f7231b;
    transition: background-color 0.2s, color 0.2s;
    color: white;
}

.b7:active {
    background-color: #f7231b;

    color: white;
}

.H1 {
    letter-spacing: 1px;
    color: white;
    font-size: 30px;

}

.span1 {

    color: white;
    font-family: fantasy;

}

.input12 {
    border: none;
    border-radius: 10px;
}

.ima:hover {
    transform: scale(1.1);

}

.ima {
    transition: transform 0.2s ease;
}

.pp {


    letter-spacing: 0.3px;

    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.right:hover {
    margin-left: 20px;
    transition: margin-left 0.2s;


}

.image {
    height: 230px;
    width: 300px;
    object-fit: cover;
    border-radius: 7px;
}



body,
button,
textarea,
input,
input::-webkit-input-placeholder {
    font-family: Okra, Helvetica, sans-serif;
}

body,
button,
input,
input::placeholder {
    font-family: Okra, Helvetica, sans-serif;
}



@media (max-width: 480px) {
    .iDetRV {
        padding: 0px 1rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}

.discount {
    color: white;
    font-weight: 1200;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    line-height: 0;
    padding-left: 10px;
}

.rupee {
    color: white;
    font-weight: 1200;

    bottom: 0;

    line-height: 0;
}

.overlay {
    position: absolute;
    top: 190px;
    left: 3;
    width: 262px;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(rgba(27, 30, 106, 0) 0%, rgba(27, 30, 36) 84.21%);
}



.p4 {
    -webkit-font-smoothing: antialiased;
    font-family: Basis_Grotesque_Pro;
    font-weight: 200;
    font-size: 16px;

    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);

    width: 100%;

    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.imageeee {
    width: 262px;
    height: 380px;
    object-fit: cover;

    border-radius: 16px;
}

.imageeee:hover {


    transition: transform 0.2s;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.menu-card:hover .imageee {
    opacity: 0.8;
}

.cct:hover .middle {
    opacity: 1;
    text-shadow: 0px 0px 2000000000px white;
    font-weight: bold;
}

.text {
    background-color: transparent;
    color: white;
    font-size: 25px;

    text-shadow: 0 0 20px black;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
    background-color: white;
    padding: 15px;
    font-size: 20px;
    z-index: 100;
}

.cd {
    box-shadow: 0 0 5px black;
}

.cd:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.igg {
    transform: scale(1.1);
}

.ig {
    transform: scale(1.02);
}


.but {
    color: #363d38;
    font-family: "Roboto";
    font-size: 15px;
    border-color: #949996;
    border-style: solid;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 2px #666b67;

}

body,
button,
textarea,
input,
input::-webkit-input-placeholder {
    font-family: Okra, Helvetica, sans-serif;
}

body,
button,
input,
input::placeholder {
    font-family: Okra, Helvetica, sans-serif;
}


.cct {
    transition: transform 0.2s;
}

@media (max-width: 480px) {
    .iDetRV {
        padding: 0px 1rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.b1 {
    color: black;
    background-color: #3ee654;
    font-family: "Roboto";
    font-size: 20px;
    border-radius: 5px;
    height: 50px;
    width: 140px;
    border-style: solid;
    padding-top: 8px;
}

.b1:hover {
    box-shadow: 0 0 5px white;
    background-color: #3ee654;
    opacity: 0.6;

    transition: transform 0.2s, box-shadow 0.1s, background-image 1s;
}



.ppp:hover {
    transform: scale(0.8);
    transition: transform 0.11s;
}

.p3:hover {

    color: black;
}

.p3 {

    color: #6e7574;
}

.card-container2 {
    border-radius: 50%;
    background-color: black;
}

.card-container2 {}

.icon {
    color: white;
}

.icon:hover {
    color: gold;
    text-shadow: 0 0 2px gold;
    transition: color 0.2s, text-shadow 0.2s;
    transform: rotateY(deg);
    animation-name: icon;

}

@keyframes icon {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(350deg);
    }
}

.card1 {
    box-shadow: 0 0px 3px #e0dfda;
    border-radius: 7px;
    border-style: solid;
    border-width: 0.3px;
    border-color: #e8e7e3;
    cursor: pointer;
}

.card1:hover {
    box-shadow: 0 10px 16px #e0dfda;


    transition: border-color 0.2s, border-width 0.2s, background-color 0.2s;
}

.card1 {
    transition: border-color 0.2s, border-width 0.2s, background-color 0.2s ease;
}

.card1:active {

    box-shadow: 0 0px 6px #e0dfda;
    border-width: 7px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: #e6f6ff;
    transition: border-color 0.2s, border-width 0.2s, background-color 0.2s;
}






.carousel-caption {
    bottom: ;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 30px;
    font-weight: bold;
}

.carousel-item {
    height: 50vh;
    min-height: 100px;
    border-radius: 100px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;

}

.nav-link:hover {
    color: white;
}

.bg-containerx {
    background-color: blue;
}

.summary {
    color: #f03252;
}

.ab {
    text-decoration: none;
}

.ab:hover {
    color: orange;
}

.lp {
    color: #1f1d1d;
    font-size: 25px;

}

.sp {
    color: #827d7e;
    font-size: 20px;
}

.b10 {
    font-size: 20px;
    color: white;
    background-color: #f73e5d;
    border-style: none;
    border-radius: 7px;
    padding: 15px;
}

.b10:hover {
    background-color: #f5143d;
}

.hr10 {
    border: dashed 1px black;
}

.input {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    background-color: white;
}

.carousel1 {

    background-color: white;
}

#carousel2 {

    background-image: linear-gradient(to left, #94b3f2, #6d94e3, #4f81e3, #356dde, #1b58d1, #0c40a8, #083285);
}

#carousel3 {

    background-image: linear-gradient(to left, #94b3f2, #6d94e3, #4f81e3, #356dde, #1b58d1, #0c40a8, #083285);
}

video {
    border-radius: 10px;
}

.caro-small {
    height: 14vh;
    min-height: 300px;
    background-size: cover;
    background: scroll no-repeat center scroll;
    -webkit-background-size: cover;
}

.caro4 {
    height: 50vh;
    min-height: 300px;
    background-size: cover;
    background: scroll no-repeat center scroll;
    -webkit-background-size: cover;
}

.caro {
    height: 70vh;
    min-height: 300px;
    background-size: cover;

    -webkit-background-size: cover;
}

.p {
    height: 30px;
    width: 40px;
    background-size: cover;
}

.bg {
    background-image: url("https://b.zmtcdn.com/data/pictures/1/21054121/c55bea31aba7984253c6a69bee499e0e_featured_v2.jpg");
    background-size: cover;
    height: 200px;
    width: 150px;
    object-fit: cover;


}

.k {

    font-size: 20px;

}

.l {
    color: black;
    font-size: 20px;

}

.ll {
    color: white;
    font-size: 20px;
}

.span {
    font-weight: bold;

}

.mi {
    height: 200px;
    width: 100px;
    object-fit: cover;
}

.cc {
    box-shadow: 0 0 5px white;
    cursor: pointer;
    border-radius: 10px;
}

.cc:hover {
    box-shadow: 0 0 20px white;
    transition: box-shadow 0.2s;
}

.star {
    color: gold;
    text-shadow: 0 0 3px #a39024, 0 0 3px #d1b932, 0 0 3px #f2d844;
}



.card-container {
    background-color: white;
}


.gog {
    text-shadow: 0 0 5px white;
}

.but6 {
    border-radius: 5px;
    background-color: #f22c61;
    color: white;
    font-family: "Roboto";
    border-style: none;
    cursor: "not-allowed";
}

.b7 {

    transition: background-color 1s;
    background-color: #c9c9c3;
}

.b7:hover {
    background-color: #f7231b;
    transition: background-color 0.2s, color 0.2s;
    color: white;
}

.b7:active {
    background-color: #f7231b;

    color: white;
}


.image-cont {
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

.p24 {
    color: black;
}



.card24 {
    border-style: none;
    background-color: transparent;
}



body,
button,
input,
input::placeholder {
    font-family: Okra, Helvetica, sans-serif;
}

.round-card {
    border-radius: 50%;
    height: 210px;
    width: 210px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(116, 10, 97, 0.2);
}

.stanza {
    color: black;
    font-size: 20px;

}

.food {
    border-radius: 50%;
}

.title1 {
    font-size: 30px;

}

.wrapper {
    min-width: 300px;
    width: 100%;
    padding: 50px;
    position: relative;
}



.prev {
    background-color: white;
    box-shadow: 0 3px 6px black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    z-index: 1000;
    font-size: 10px;
    padding: 20px;
    font-weight: bold;
    position: absolute;

}


.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.slide-content {
    overflow: hidden;


}

.swiper-button-next {

    font-size: 10px;
    color: black;
    position: absolute;
    transition: all ease;

}

.swiper-button-next:active {


    background-color: #deddd9;

}

.swiper-button-prev {
    color: black;
    position: absolute;
    transition: all ease-in;
}

.swiper-button-prev:active {


    background-color: #deddd9;

}

.b {
    position: relative;



    border-radius: 8px;
    transition: all 0.3s ease;
}



.b .a {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: all 0.3s ease;
    color: #878684;
}

.b:hover .a {
    right: 20px;

}

.a {
    color: black;
}

.card1:hover {
    box-shadow: 0 4px 6px rgba(89, 45, 200, 0.4);
}

.card-container2 {
    border-radius: 50%;
    background-color: black;
    height: 20px;
    width: 20px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}


.icon {
    color: white;
    position: absolute;
}

.icon:hover {
    color: gold;
    text-shadow: 0 0 2px gold;
    transition: color 0.2s, text-shadow 0.2s;
    transform: rotateY(deg);
    animation-name: icon;

}

.c25 {
    display: none;
}

.b71:hover {
    box-shadow: 0px 1px 3px #2e2c2c;
    transition: transform ease;
}

.b71 {
    transition: transform ease;
    background-color: #e8e6e6;
}

.downa:active {
    transform: rotate(180deg);

}

.downa:visted {
    transform: rotate(1deg);
}

.downa:active {}

.hr-line {
    background-color: black;
    width: 1px;
    height: 20px;
}

.but6:hover {
    background-color: #fa1302;
}

.but6:active {
    background-color: #f73a2d;
}

.hr1 {

    border-top: 2px solid #b8b7b6;
}

.card {
    box-shadow: 0, 0, 20px, black;
}

.but6 {
    border-radius: 5px;
    background-color: #fc392b;
    color: white;
    font-family: "Roboto";
    border-style: none;
}

.swiper-button-prev,
.swiper-button-next {
    width: 10px;
    /* Adjust the width */
    height: 10px;
    /* Adjust the height */
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    /* Adjust the size of the icon */
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    /* Adjust the icon size if using font icons */
}

.wrapper .prev {
    position: absolute;
    top: 60%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.b10 {
    text-decoration: none;
    position: relative;
}

.arrow12 {}

.b10 .arrow12 {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 10px;
    transition: all 0.2s ease;
}

.b10:hover .arrow12 {
    right: 20px;


}


body {
    font-family: 'Poppins', sans-serif;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}



.ima:hover {
    transform: scale(1.1);

}

.ima {
    height: 40px;
    width: 120px;
    transition: transform 0.2s ease;
}

.popup {
    width: 400px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(0.1);
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    visibility: hidden;
    transition: all 1s ease;
}

.popup img {
    margin-top: -40px;
    filter: drop-shadow(1px 5px 5px black);

}

.ok-button {
    width: 100%;
    padding: 10px 0;
    color: white;
    background: linear-gradient(135deg, #00ff99, #009966);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}





.openpop {
    visibility: visible;
    top: 70%;
    box-shadow: 2px 5px 6px black;
    transform: translate(-50%, -90%) scale(1.1);
}

.spinner-border {
    display: none;
}

.spinner-border2 {
    display: none;
}

.wrapupp {
    display: none;
}

.spinner-border2 {
    width: 30px;
    height: 30px;
    border: 0.25em solid #f3f3f3;
    border-top: 0.25em solid #3498db;
    border-radius: 50%;
    margin-bottom: 5px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.share-app-popup {
    visibility: hidden;
    transform: translate(-50%, -50%) scale(1);
    position: sticky;
    width: 400px;
    bottom: 70%;
    left: 100%;
    background-color: white;
    z-index: 10000;
    border-radius: 6px;
    box-shadow: 5px 5px 10px black;
    transition: all 0.4s ease;

}

.share-app-popup img {
    margin-left: -60px;
    filter: drop-shadow(0px 5px 6px black);
}

.open-otp-popup {
    visibility: visible;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

.indiacard {
    transition: all 0.2s ease;
    background-color: #ebf1f7;
}

.uaecard {
    transition: all 0.2s ease;
    background-color: #ebf1f7;
}

.indiacard:hover {
    background-color: #f7e9f7;
    box-shadow: 0px 3px 4px rgba(34, 212, 189, 0.5);
}

.uaecard:hover {
    background-color: #f7e9f7;
    box-shadow: 0px 3px 4px rgba(34, 212, 189, 0.5);
}

.uae {
    height: 30px;
    width: 30px;
    border-radius: 2px;
}

.popup3 {
    width: 400px;
    z-index: 1000;
    border-radius: 60px;
    position: absolute;
    cursor: pointer;
    left: 14%;
    transform: translate(-50%, -50%) scale(0.1);

    visibility: hidden;
    transition: all 0.4s ease;
}

.popup2 {
    width: 400px;
    z-index: 1000;
    border-radius: 60px;
    position: absolute;
    cursor: pointer;
    left: 60%;
    transform: translate(-50%, -50%) scale(0.1);

    visibility: hidden;
    transition: all 0.4s ease;
}





.light {
    font-weight: 300;
}

.openpop3 {
    visibility: visible;
    top: 20%;

    transform: translate(-50%, -90%) scale(0.6);
}

.uaec {

    display: flex;
    align-items: center;
}

.angle {
    transition: all 0.3s;

}

.angle-reverse {

    transform: rotate(180deg);
}

.wrapupp {
    display: none;
}

.emailinput {
    transition: all 0.3s;
}

.email-shift {
    margin-left: 20px;

}

.phoneinput {
    transition: all 1s;
    position: sticky;
}

.phone-shift {
    margin-left: 20px;
}



.search-place::placeholder {

    font-size: 17px;
    color: #948f90;


}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    font-size: 17px;
    color: #948f90;
}

.search-place {
    padding-top: 6px;


}

.search-place:focus {
    outline: none;
}

.caret-down {
    margin-top: 3px;
    font-size: 20px;
    color: #424041;
    transition: all 0.4s;
}

.caret-down-onclick {
    transform: rotate(180deg);
}

.navigation {

    font-size: 25px;
    color: #f5647a;
    transition: all 0.4s;
}

.divider {

    margin-top: 10px;
    margin-left: 6px;
    width: 0rem;
    height: 1.5rem;
    border: 0.05rem solid #b8b8b8;
}

.search-icon {
    font-size: 20px;
    margin-top: 4px;
    color: #a6a1a2;
}

.spots {
    top: 120px;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
}

.zz {
    transition: all 0.8s;
}

.img-cont {
    cursor: grab;
    position: relative;
    overflow: hidden;
}

.places {
    top: 135px;
    font-size: 15px;
    margin-left: 10px;
}

.img-cont:hover .zz {
    margin-left: 20px;
}

.img-cont:hover .imgge {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    overflow: hidden;
    top: 100px;
    left: 3;
    width: 230px;
    height: 150px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(rgba(27, 30, 106, 0) 0%, rgba(27, 30, 36) 99.21%);
}

.imgge {
    width: 230px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
    transition: all 1s;
}

.din {
    transform: scale(1);
}

.card-container {
    overflow: hidden;
    transition: all 1s;
}

.image {
    transition: all 1s;
}

.card-container:hover .image {
    transform: scale(1.2);
}

.fud-start {
    font-size: 16px;
    font-weight: bold;
}

.fud-para {
    font-size: 15px;
    color: grey;
}

.fud-video {
    font-size: 15px;
    color: green;
    text-decoration: none;
}

.img1000 {
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px;
    transition: all 0.3s;
}

.bw-image {
    filter: grayscale(100%) blur(1px);
}

.fud-container:hover {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
}

.fud-container:hover .img1000 {
    transform: scale(1.1);
    overflow: hidden;
}


.overlay2 {
    position: absolute;
    transition: all 0.3s;
    visibility: hidden;
    transform: scale(0);
    left: 3;
    top: 170px;
    height: 50px;
    width: 223px;
    border-radius: 12px;
    padding-left: 10px;
    background: linear-gradient(rgba(27, 30, 106, 0) 0%, rgba(27, 30, 36) 60%);
}

.fud-container {
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.fud-container:hover .overlay2 {
    visibility: visible;
    top: 157px;
    transform: scale(1);
}

.con {
    transform: scale(0);
    transition: all 4s;

}

.con1 {
    transform: scale(1);
    display: block;
}

.img25 {

    opacity: 1;
    filter: blur(10px);
    transition: filter 5s ease;
    /* Smooth fade-in effect */
}

/* When image is loaded, it will be shown smoothly */
.loaded {
    opacity: 1;
    transition: filter 2s ease;
    filter: blur(0px);
}